body {
    font-family: 'Open Sans', sans-serif;
    color: #2F4A6D;
    background: rgb(50, 50, 51);
}



.bar {
    fill: #3490a7;
}

text {
    font-size: 12px;
    fill: #fff;
}

path {
    stroke: rgb(189, 189, 189);
}

line {
    stroke: rgb(189, 189, 189);;
}


.grid path {
    stroke-width: 0;
}

.grid .tick line {
    stroke: rgb(204, 204, 204);
    stroke-opacity: 0.5;
    stroke-dasharray: 2;
}

.axis .grid-line {
    stroke: rgb(94, 90, 90);
    stroke-opacity: 0.2;
}

.axis text {
    font: 12px Verdana;
    text-anchor: middle;
    fill: rgb(93, 129, 177);
}

.y-axis text{
  text-anchor: end;
}
svg {
  max-width: 100%;
  max-height: 100%;
  margin-left: 100px;
  overflow: visible;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}
.planLine {
    stroke: rgb(252, 252, 252);
    stroke-opacity: 0.7;
    stroke-dasharray: 3;
}
.chartAllTime{
  padding-bottom: 0;
  margin-bottom: 0px;
}
.chart{
  margin-top: 0;
  padding-top: 0;
}
.chart svg{
  margin-bottom: 100px;
}
 .barLines{
  stroke: rgb(55, 119, 156);
  stroke-opacity: 0.8;
  stroke-dasharray: 6;
  stroke-width: 2;
}